
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
}

.nav__list {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav__item {
    color: #c1c1ca;
    font-size: 1rem;
    text-decoration: none;
    transition: color .1s;
}

.nav__toggle {
    font-size: 1.5rem;
    background: #FFFFFF;
    border-radius: 50% 50% 50% 50%;
    margin-right: 16px;
    padding: 10px;
    border: #FF2332;
    color: #FF2332;
    display: none; /* скрыт по умолчанию */
}

.nav .btn_start {
    padding: 1rem;
    font-size: 1rem;
}

.nav__item:hover, .nav__item:active {
    color: #FF2332;
}


@media screen and (max-width: 1330px) {

    .nav__list {
        gap: 12px;
    }

    .nav .btn_start {
        font-size: 1rem;
        padding: 1.1rem;
    }
}


@media screen and (max-width: 720px) {
    
    .nav {
        flex-direction: column;
    }
    
    .nav__toggle {
        display: inherit; /* скрыт по умолчанию */
    }

}