.btn_start {
    background-color: #FF2332;
    height: auto;
    color: #ffffff;
    padding: 1.2rem;   
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: 800;
    border: none;
    transition: all .2s;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    z-index: 400;
}


.btn_start:hover, .btn_start:active {
    background-color: #ffffff;
    color: #FF2332;
}