.hero {
    background-image: url('../../assets/img/hero_bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.hero .btn_start {
    padding: 27px 40px;
}

.hero__content {
    display: block;
    padding: 50px 0;
    position: relative;
    max-width: 1200px;
    display: flex;
    align-items: center;
    z-index: 200;
}

.hero__title {
    font-family: "Oxanium", sans-serif;
    font-size: 4rem;
    color: #FFFFFF;
}

.hero__abstr {
    color: #909090;
    font-size: 1.5rem;
    margin: 10px 0 65px;
    width: 55%;
}


/* ----- Animations ----- */ 

.bg-text::after {
    position: absolute;
    content: 'IMAM';
    font-weight: bolder;
    color: #9090907e;
    font-size: 8rem;
    bottom: 0px;
    left: 0px;
    opacity: 0;
    animation: slideInFromButton 1s ease-out forwards;
    will-change: transform; /* Оптимизация анимации */
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 100%, black 100%);
    mask-image: linear-gradient(to bottom, transparent 15%, black 100%, black 100%);
}

.animated-background {
    position: absolute;
    z-index: 100;
    display: block;
    max-width: 45%;
    right: 0;
    bottom: 0;
    animation: slideInFromRight 1s ease-out forwards;
    will-change: transform; /* Оптимизация анимации */
}


.animated-from-left {
    transform: translateX(-100%);
    animation: slideInFromLeft 1s ease-out forwards;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromButton {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}



/* 1330px */

@media screen and (max-width: 1330px) {
    .hero {
        height: 75vh;
    }
    .hero__content {
        max-width: 900px;
        align-items: normal;
        padding: 1rem;
    }
    .animated-background {
        max-width: 45%;
    }
}

@media screen and (max-width: 720px) {
    .hero {
        height: 75vh;
        justify-content:initial;
    }
    .hero__content {
        max-width: 720px;
    }

    .hero__text {
        text-align: center;
    }


    .hero__abstr {
        margin: 10px 0 20px;
        width: 100%;
    }

    .animated-background {
        max-width: 50%;
        right: 0;
    }

    .bg-text::after {
        font-size: 6rem;
        left: 1rem;
        color: #909090;
        -webkit-mask-image: linear-gradient(to bottom, transparent 15%, black 100%, black 100%);
        mask-image: linear-gradient(to bottom, transparent 15%, black 100%, black 100%);
    }
}

/* 520 */
@media screen and (max-width: 520px) {
    .hero {
        height: 82vh;
    }

    .animated-background {
        bottom: 0;
        right: 0px;
        max-width: 57%;
        z-index: 50;
    }

    .hero__title {
        font-size: 2.5rem;
    }

    .hero__abstr {
        font-size: 1.1rem;
    }

    .bg-text::after {
        font-size: 6rem;
        left: 10px;
        z-index: 100;
        color: #909090;
        -webkit-mask-image: linear-gradient(to bottom, transparent 15%, black 100%, black 100%);
        mask-image: linear-gradient(to bottom, transparent 15%, black 100%, black 100%);
    }
}