#logo {
    text-transform: uppercase;
    font-family: 'Lora', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;
}

@media screen and (max-width: 1330px) {

    #logo {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 720px) {

    #logo {
        font-size: 1rem;
    }
}