@font-face {
  font-family: 'Oxanium';
  src: url('./assets/fonts/Oxanium-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Для variable-font */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('./assets/fonts/Lora-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Для variable-font */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anton';
  src: url('./assets/fonts/Anton-Regular.ttf') format('truetype');
  font-weight: 100 900; /* Для variable-font */
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: 'Lora', sans-serif;
  background-color: #1F1F1F;
}

a, a:visited, a:hover, a:active, a:focus {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}