.about-me {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;
    margin: 100px 0;
}

.about-me__video {
    max-width: 900px;
}

.about-me__video video {
    border-radius: 10px;
}

.about-me__text {
    max-width: 900px;
    margin-bottom: 50px;
    text-align: center;
}

@media screen and (max-width: 1330px) {
    .about-me {
        gap: 20px;
    }

    .about-me__video {
        margin: 0 20px;
    }
}

@media screen and (max-width: 720px) {
    .about-me {
        margin: 50px 0;
    }
    .about-me__text {
        margin-bottom: 0;
    }
}